*{margin:0; padding:0; font-family:'Gamja Flower', 'cursive'; transition: 1s; box-sizing: border-box;}

/* 기본 배경 */
#mandoo-back {
  width: 100vw;
  height: 100vh;
  background-color: rgb(209, 236, 255);
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#mandoo-back > section {
  width: 160px;
  height: 155px;
  position: absolute;
  background-size: cover;
}

#mandoo-back > section:nth-child(1) {
  background-image: url("img/만두-기본+테두리.png");
  top: 8%;
  left: -2%;
}

#mandoo-back > section:nth-child(2) {
  background-image: url("img/만두-메롱+테두리.png");
  top: -10%;
  left: 23%;
}

#mandoo-back > section:nth-child(3) {
  background-image: url("img/만두-하트눈+테두리.png");
  top: 15%;
  right: 2%;
}

#mandoo-back > section:nth-child(4) {
  background-image: url("img/만두-화난+테두리.png");
  top: 1%;
  right: 30%;
}

#mandoo-back > section:nth-child(5) {
  background-image: url("img/만두-반짝눈+테두리.png");
  top: 55%;
  right: -3%;
}

#mandoo-back > section:nth-child(6) {
  background-image: url("img/만두-눈물+테두리.png");
  bottom: -7%;
  right: 15%;
}

#mandoo-back > section:nth-child(7) {
  background-image: url("img/만두-윙크+테두리.png");
  bottom: 0%;
  left: 25%;
}

#mandoo-back > section:nth-child(8) {
  background-image: url("img/만두-메롱+테두리.png");
  bottom: 15%;
  left: 2%;
}

/* 페이지3에 추가되는 만두 얼굴들 */

#mandoo-back > section:nth-child(9) {
  background-image: url("img/만두-기본+테두리.png");
  bottom: 3%;
  left: 5%;
}

#mandoo-back > section:nth-child(10) {
  background-image: url("img/만두-하트눈+테두리.png");
  bottom: 8%;
  right: 2%;
}

#mandoo-back > section:nth-child(11) {
  background-image: url("img/만두-하트눈+테두리.png");
  bottom: 30%;
  left: 1%;
}

#mandoo-back > section:nth-child(12) {
  background-image: url("img/만두-화난+테두리.png");
  bottom: 25%;
  right: 1%;
}

#mandoo-back > section:nth-child(13) {
  background-image: url("img/만두-반짝눈+테두리.png");
  top: -1%;
  left: 27%;
}

#mandoo-back > section:nth-child(14) {
  background-image: url("img/만두-눈물+테두리.png");
  top: 40%;
  left: 0%;
}

#mandoo-back > section:nth-child(15) {
  background-image: url("img/만두-윙크+테두리.png");
  top: 25%;
  left: -5%;
}

#mandoo-back > section:nth-child(16) {
  background-image: url("img/만두-메롱+테두리.png");
  bottom: -2%;
  right: 20%;
}

/* 페이지 1 */
.page-1 {
  width: 85%;
  height: 80%;
  border-radius: 30px;
  background-color: #fff;
  
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.ball {
width: 100px;
height: 100px;
background-image: url('img/간식볼.png');
background-size: cover;
}

.page-1 > h1 {
  color : #333;
  margin-top: 7%;
}

/* 페이지 2 */
.page-2 {
  width: 85%;
  height: 80%;
  border-radius: 30px;
  background-color: #fff;
  
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.page-2 > section {
  position: absolute;
  background-size: cover;
}

.page-2 > section:nth-child(1) {
  width: 65px;
  height: 60px;
  background-image: url("img/하트1.png");

  top:20%;
  left: 15%;
  transform:rotate(-25deg);
}

.page-2 > section:nth-child(2) {
  width: 45px;
  height: 40px;
  background-image: url("img/하트2.png");

  top:7%;
  left: 30%;
  transform:rotate(-5deg);
}

.page-2 > section:nth-child(3) {
  width: 80px;
  height: 80px;
  background-image: url("img/하트3.png");

  top:10%;
  left: 40%;
  transform:rotate(15deg);
}

.page-2 > section:nth-child(4) {
  width: 80px;
  height: 80px;
  background-image: url("img/하트4.png");

  top:40%;
  left: 7%;
  transform:rotate(-40deg);
}

.page-2 > section:nth-child(5) {
  width: 40px;
  height: 35px;
  background-image: url("img/하트1.png");

  top:23%;
  left:45%;
  transform:rotate(35deg);
}

.page-2 > section:nth-child(6) {
  width: 50px;
  height: 45px;
  background-image: url("img/하트2.png");

  top:20%;
  left:10%;
  transform:rotate(-25deg);
}

.page-2 > section:nth-child(7) {
  width: 65px;
  height: 60px;
  background-image: url("img/하트4.png");

  top:5%;
  left:20%;
  transform:rotate(-20deg);
}

.photo {
  width: 600px;
  height: 650px;
  background-image: url("img/만두.png");
  background-size: cover;
  position: absolute;
  bottom: 0%;
  left: 10%;
}

.speech-bubble {
    width: 710px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-image: url('img/말풍선-점선.png');
    background-size: cover;

    position: absolute;
    right: 9%;
    top: 5%;
  }

  .speech-bubble > h1 {
    margin: 10px;
    font-size: 30px;
    color: #333;
  }

  .snack-bone {
    width: 150px;
    height: 120px;
    background-image: url('img/개껌.png');
    background-size: cover;
    position: absolute;

    bottom:15%;
    right: 25%;
  }

  /* 페이지 3 */
  .page-3 {
  width: 85%;
  height: 480vh;
  border-radius: 30px;
  background-color: #fff;
  
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.mandoo-illu-top, .mandoo-illu-bottom {
  width: 160px;
  height: 155px;
  position: absolute;
  background-size: cover;
}

.mandoo-illu-top {
  background-image: url("img/만두-기본+테두리.png");
  top:-2%;
} 
.mandoo-illu-bottom {
  background-image: url("img/만두-메롱+테두리.png");
  bottom:-2%;
}

.speech-bubble-1, .speech-bubble-2 {
  width: 85%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-image: url("img/긴-말풍선-점선.png");
}

.speech-bubble-2 {
  background-image: url("img/긴-말풍선-점선-꼬리아래.png");
}

.speech-bubble-1 > h1{
font-size: 30px;
padding-top: 5%;
color: #333;
}

.speech-bubble-2 > h1 {
  font-size: 30px;
padding-bottom: 2.5%;
color: #333;
}

main {
width: 85%;
height: 22%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.heart-1, .heart-2, .heart-3, .heart-4 {
width: 79px;
height: 80px;
background-size: cover;
display: flex;
align-items: center;
justify-content: center;

font-size: 30px;
color: #333;
}
.heart-1,.heart-3 {
background-image: url("img/하트4.png");
}
.heart-2,.heart-4 {
background-image: url("img/하트3.png");
}

main > article {
width: 80%;
height: 90%;
display: flex;
align-items: center;
justify-content: space-around;
flex-wrap: wrap;
}

.favorite-1, .favorite-2, .favorite-3, .favorite-4, .info-1, .info-2, .info-3,.info-4, .fav-photo-1, .fav-photo-2,.fav-photo-3,.fav-photo-4, .fav-video-1, .fav-video-2,.fav-video-3,.fav-video-4 {
width: 40%;
height: 48%;
background-size: cover;
margin:5px;
position: relative;
}

.favorite-1, .favorite-2, .favorite-3, .favorite-4 {
border-radius: 500px;
}
.favorite-1{
background-image: url('img/만두\ 공놀이1.jpg');
}
.favorite-2{
background-image: url('img/만두\ 개껌먹는1.jpg');
}
.favorite-3{
background-image: url('img/만두\ 산책1.jpg');
}
.favorite-4{
background-image: url('img/만두\ 일광욕.jpg');
}

.fav-photo-1 {
background-image: url('img/만두\ 공놀이2.jpg');
}
.fav-photo-2 {
background-image: url('img/만두\ 개껌먹는2.jpg');
}
.fav-photo-3 {
background-image: url('img/만두\ 산책2.jpg');
}
.fav-photo-4 {
background-image: url('img/만두\ 이불1.jpg');
}

.fav-video-1 {
background-image: url('img/만두\ 공놀이3.jpg');
}
.fav-video-2 {
background-image: url('img/만두\ 개껌먹는3.jpg');
}
.fav-video-3 {
background-image: url('img/만두\ 산책3.jpg');
}
.fav-video-4 {
background-image: url('img/만두\ 이불2.jpg');
}

.info-1, .info-2, .info-3,.info-4 {
background-image: url('img/메모지2.png');

display: flex;
align-items: center;
justify-content: center;
}

.info-1 > p, .info-2 > p, .info-3 > p,.info-4 > p {
font-size: 25px;
color: #333;
font-weight: bold;
line-height: 150%;
}

.tape-1, .tape-2 {
position: absolute;
width: 120px;
height: 50px;
background-size: cover;
transform: rotate(-30deg);
}

.tape-1{
background-image: url('img/테이프1.png');
top:-5%;
left: -12%;
}
.tape-2{
background-image: url('img/테이프2.png');
bottom:-5%;
right:-10%;
opacity: .5;
}

/* 페이지 4 */
.page-4 {
  width: 85%;
  height: 480vh;
  border-radius: 30px;
  background-color: #fff;
  
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.kong-1, .kong-2, .kong-3, .kong-4 {
width: 100px;
height: 70px;
background-size: cover;
}

.kong-1 {
background-image: url("img/콩순이-하트눈+테두리.png");
}
.kong-2 {
background-image: url("img/콩순이-화난+테두리.png");
}
.kong-3 {
background-image: url("img/콩순이-반짝눈+테두리.png");
}
.kong-4 {
background-image: url("img/콩순이-눈물+테두리.png");
}

.mandoo-illu-top-2, .mandoo-illu-bottom-2, .kongsun-illu-top, .kongsun-illu-bottom {
  position: absolute;
  background-size: cover;
}

.mandoo-illu-top-2,.mandoo-illu-bottom-2 {
  width: 160px;
  height: 155px;
  z-index: 2;
  left:41%;
}
.mandoo-illu-top-2 {
  background-image: url("img/만두-기본+테두리.png");
  top:-2%;
} 
.mandoo-illu-bottom-2 {
  background-image: url("img/만두-메롱+테두리.png");
  bottom:-2%;
}

.kongsun-illu-top, .kongsun-illu-bottom {
  width: 190px;
  height: 140px;
  right:40%;
}

.kongsun-illu-top {
  background-image: url("img/콩순이-기본+테두리.png");
  top:-1.5%;
}
.kongsun-illu-bottom {
  background-image: url("img/콩순이-메롱+테두리.png");
  bottom:-1.5%;
}

.favorite-5, .favorite-6, .favorite-7, .favorite-8, .fav-photo-5, .fav-photo-6,.fav-photo-7,.fav-photo-8, .fav-video-5, .fav-video-6,.fav-video-7,.fav-video-8 {
width: 40%;
height: 48%;
background-size: cover;
margin:5px;
position: relative;
}

.favorite-5, .favorite-6, .favorite-7, .favorite-8 {
border-radius: 500px;
}

.favorite-5{
background-image: url('img/콩순2.JPG');
}
.favorite-6{
background-image: url('img/아기만두1.JPG');
}
.favorite-7{
background-image: url('img/콩만두\ 외출1.jpg');
}
.favorite-8{
background-image: url('img/콩만두\ 잠1.JPG');
}

.fav-photo-5 {
background-image: url('img/콩만두1.JPG');
}
.fav-photo-6 {
background-image: url('img/아기만두2.JPG');
}
.fav-photo-7 {
background-image: url('img/콩만두\ 외출2.jpg');
}
.fav-photo-8 {
background-image: url('img/콩만두\ 잠2.JPG');
}

.fav-video-5 {
background-image: url('img/콩만두2.JPG');
}
.fav-video-6 {
background-image: url('img/아기만두3.JPG');
}
.fav-video-7 {
background-image: url('img/콩만두\ 외출3.jpg');
}
.fav-video-8 {
background-image: url('img/콩만두\ 잠3.JPG');
}

/* 페이지 5 */
.page-5 {
  width: 85%;
  height: 80%;
  border-radius: 30px;
  background-color: #fff;
  
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.page-5 > section {
  position: absolute;
  background-size: cover;
  display: none;
}

.page-5 > section:nth-child(1) {
  width: 65px;
  height: 60px;
  background-image: url("img/하트1.png");

  top:3%;
  left: 30%;
  transform:rotate(-20deg);
}

.page-5 > section:nth-child(2) {
  width: 45px;
  height: 40px;
  background-image: url("img/하트2.png");

  top:7%;
  right: 40%;
  transform:rotate(8deg);
}

.page-5 > section:nth-child(3) {
  width: 80px;
  height: 80px;
  background-image: url("img/하트3.png");

  top:15%;
  left: 25%;
  transform:rotate(-30deg);
}

.page-5 > section:nth-child(4) {
  width: 80px;
  height: 80px;
  background-image: url("img/하트4.png");

  top:23%;
  right: 35%;
  transform:rotate(40deg);
}

.page-5 > section:nth-child(5) {
  width: 40px;
  height: 35px;
  background-image: url("img/하트1.png");

  top:15%;
  right:35%;
  transform:rotate(30deg);
}

.page-5 > section:nth-child(6) {
  width: 50px;
  height: 45px;
  background-image: url("img/하트2.png");

  top:18%;
  left:29%;
  transform:rotate(-15deg);
}

.page-5 > section:nth-child(7) {
  width: 65px;
  height: 60px;
  background-image: url("img/하트4.png");

  top:30%;
  left:32%;
  transform:rotate(-40deg);
}

.photo-2 {
  width: 600px;
  height: 650px;
  background-image: url("img/만두-마지막.png");
  background-size: cover;
  position: absolute;
  bottom: 0%;
  left: 37%;
}

.page-5 > h1, .page-5 > h2{
  display: none;
position: absolute;
color : #333;
font-size: 30px;
}

.page-5 > h1 {
left:15%;
}

.page-5 > h2 {
right:15%;
}
